*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-card{
    width: 60%;
    height: 500px;
    background-color: red;
    margin: 0;
    display: block;
    border-radius: 20px;
    border: 5px solid;
}
.text-card h1{
    text-align: center;
    padding: 10%;
    color:white;
}
.text-card button{
    display: block;
    margin: auto;
    width: 20%;
    height: 50px;
    color: black;
    background-color: aliceblue;
    font-size: large;
    font-weight: 900;
    border-radius: 10px;
    bottom: 0;
}

.letter-box{
    display: none;
    background-color: aqua;
    height: 400px;
    align-items: center;
    text-align: center;
    width: 40%;
    position: fixed;
    border-radius: 20px;
}
.letter-box p{
    margin: 10%;
}
.letter-box button{
    width: 5%;
    padding: 3px;
    display: block;
    position: inherit;
    margin: 10px;
    border-radius: 10px;
}
.letter-box img{
    width: 20%;
}

@media only screen and (max-width:600px){
    .text-card{
        width: 90%;
        height: 300px;
    }
    .letter-box{
        height: 200px;
        width: 80%;
        overflow: auto;
    }
    .letter-box p{
        margin: 5%;
    }
    .letter-box img{
        width: 30%;
    }
}